* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 66.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  position: relative;
}

.femaleGradient {
  background: linear-gradient(
    88deg,
    #ff51da,
    #ff35d4,
    #f210c1,
    #f009bc,
    #ff46d5,
    #ea5ac9,
    #ff00d4,
    #ff5fe4,
    #fe5fff,
    #b948b9,
    #7f327f,
    #522252,
    #3f0f3f,
    #6e1a6e,
    #9f1e9f,
    #d52ad5,
    #ea28ea,
    #f31ff3,
    #f512f5,
    #fb00fb,
    #fb00fb
  );
  background-size: 4200% 4200%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.maleGradient {
  background: linear-gradient(
    270deg,
    #00fdff,
    #00dddf,
    #04babb,
    #048f90,
    #037172,
    #045354,
    #043434,
    #0e3838,
    #000000,
    #204947,
    #347874,
    #42aca6,
    #2ec5bc,
    #21e1d5,
    #00ffef
  );
  background-size: 3000% 3000%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 44%;
  }
  50% {
    background-position: 100% 57%;
  }
  100% {
    background-position: 0% 44%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 44%;
  }
  50% {
    background-position: 100% 57%;
  }
  100% {
    background-position: 0% 44%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 44%;
  }
  50% {
    background-position: 100% 57%;
  }
  100% {
    background-position: 0% 44%;
  }
}

/*        Responsive conversion table      */
.Bmipage {
  position: absolute;
  margin: 100px 0;
  padding: 30px 0px;
  z-index: 1;
  width: 980px;
  background-color: rgb(255, 255, 255);
  /*background-color: #0d1117;*/

  border-radius: 50px;
  box-shadow: 10px 50px 100px;
  animation: slide_up 1.1s ease;
}
/*      Forms     */
.c-form {
  display: flex;
  width: 100%;
  height: 250px;
  align-items: center;
  justify-content: center;
}

.gender-form {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h2.select-gender-h2 {
  width: auto;
  letter-spacing: 2px;
  font-size: 25px;
}
.height-form {
  position: relative;
  padding: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.weight-form {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.convert-form {
  padding: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.convert-button {
  padding: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  height: 150px;
}

.h1Message {
  font-size: 50px;
}

/*      Form placement      */

h2.select-height-h2,
h2.select-weight-h2 {
  align-self: center;
  letter-spacing: 2px;
  font-size: 25px;
}

.fromspan,
.to {
  align-self: center;
  font-size: 2rem;
  margin: 0 5px;
}

#cnumber,
#weight,
#gender,
#feet,
#inches,
#cto,
#convertbtn {
  height: 50px;
  width: 700px;
  outline: none;
  margin: 20px 5px;
  border-radius: 10px;
  text-align: center;
  letter-spacing: 3px;
}

#convertbtn {
  letter-spacing: 10px;
}

/*      Results    */
.results {
  display: flex;
  height: 80px;
  width: 80%;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  letter-spacing: 5px;
  border: 2px solid grey;
  margin: 10px auto;
}

/*      PAGE 2      */
.page2 {
  background-color: rgb(122, 122, 122, 0.7);
  height: 15vh;
  position: absolute;
  width: 100%;
  top: 120%;
}

/*          Scroll bar          */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: rgb(82, 78, 78);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}

/* Media Queries */
@media screen and (max-width: 1160px) {
  .page {
    top: 10%;
    height: 100%;
  }
  .Bmipage {
    top: 100%;
    width: 90%;
    height: 110vh;
    z-index: 1;
  }
  .h1Message {
    font-size: 40px;
  }
  .c-form {
    flex-direction: column;
  }

  .gender-form,
  .height-form,
  .convert-btn {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .fromspan,
  .to {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 10px;
    color: grey;
    margin: 10px 20px;
  }
  #convert_form {
    width: 100%;
  }
  #gender,
  #weight,
  #feet,
  #inches,
  #cto,
  #convertbtn {
    font-size: 20px;
    width: 90%;
    height: 50px;
    margin: 10px 20px;
    text-align: center;
    border-radius: 10px;
  }

  .results {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 60px 10px;
    font-size: 20px;
  }
}

/*        ANIMATIONS        */
@keyframes slide_up {
  0% {
    transform: translateX(-1500px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}
