* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 66.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  position: relative;
}

.femaleGradient {
  background: linear-gradient(
    270deg,
    #fd06ff,
    #d842d9,
    #c649c6,
    #a853a8,
    #9f6c9f,
    #877287,
    #878787,
    #585858,
    #3f3c3f,
    #4d314d,
    #743774,
    #943894,
    #ae31ae,
    #d020d0,
    #e312e3,
    #ff00ff,
    #ff00ff
  );
  background-size: 3400% 3400%;

  -webkit-animation: femaleGradient 30s ease infinite;
  -moz-animation: femaleGradient 30s ease infinite;
  -o-animation: femaleGradient 30s ease infinite;
  animation: femaleGradient 30s ease infinite;
}

@-webkit-keyframes femaleGradient {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@-moz-keyframes femaleGradient {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@-o-keyframes femaleGradient {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@keyframes femaleGradient {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}

.maleGradient {
  background: linear-gradient(
    270deg,
    #00fdff,
    #00dddf,
    #04babb,
    #048f90,
    #037172,
    #045354,
    #043434,
    #0e3838,
    #000000,
    #204947,
    #347874,
    #42aca6,
    #2ec5bc,
    #21e1d5,
    #00ffef
  );
  background-size: 3000% 3000%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 44%;
  }
  50% {
    background-position: 100% 57%;
  }
  100% {
    background-position: 0% 44%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 44%;
  }
  50% {
    background-position: 100% 57%;
  }
  100% {
    background-position: 0% 44%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 44%;
  }
  50% {
    background-position: 100% 57%;
  }
  100% {
    background-position: 0% 44%;
  }
}

/*        Responsive conversion table      */
.Bmipage {
  position: absolute;
  height: 90vh;
  top: 10%;
  margin: 150px 0;
  z-index: 1;
  width: 980px;
  background-color: rgb(255, 255, 255);
  /*background-color: #0d1117;*/
  border: 1px solid rgba(0, 255, 234, 0.911);
  border-radius: 50px;
  box-shadow: 10px 50px 100px;
  animation: slide_up 1.1s ease;
}
/*      Forms     */
.c-form {
  display: flex;
  width: 100%;
  height: 250px;
  align-items: center;
  justify-content: center;
}

.gender-form {
  position: relative;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.height-form {
  position: relative;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.weight-form {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.convert-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  height: 150px;
}

.h1Message {
  font-size: 50px;
}

/*      Form placement      */

.selecth2 {
  font-size: 20px;
}

.fromspan,
.to {
  align-self: center;
  font-size: 2rem;
  margin: 0 5px;
}

#cnumber,
#weight,
#gender,
#feet,
#inches,
#cto,
#convertbtn {
  height: 50px;
  width: 700px;
  outline: none;
  margin: 20px 5px;
  border-radius: 10px;
  text-align: center;
  letter-spacing: 3px;
}
#convertbtn {
  letter-spacing: 10px;
}

/*      Results    */
.results {
  display: flex;
  height: 80px;
  width: 80%;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  letter-spacing: 5px;
  border: 2px solid grey;
  margin: 10px auto;
}

.hidden {
  display: none;
}

/*      PAGE 2      */
.page2 {
  background-color: rgb(122, 122, 122, 0.7);
  height: 15vh;
  position: absolute;
  width: 100%;
  top: 120%;
}

/*          Scroll bar          */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: rgb(82, 78, 78);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}

/* Media Queries */
@media screen and (max-width: 1160px) {
  .page {
    top: 10%;
    height: 100%;
  }
  .Bmipage {
    top: 100%;
  }
  .h1Message {
    font-size: 40px;
  }
  .c-form {
    flex-direction: column;
  }

  .gender-form,
  .height-form,
  .convert-btn {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .fromspan,
  .to {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 10px;
    color: grey;
    margin: 10px 20px;
  }

  #gender,
  #weight,
  #feet,
  #inches,
  #cto,
  #convertbtn {
    font-size: 20px;
    width: 90%;
    border-radius: 0px;
    height: 50px;
    margin: 10px 20px;
    text-align: center;
    border-radius: 10px;
  }

  .results {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 60px 10px;
    font-size: 20px;
  }
}

/*        ANIMATIONS        */
@keyframes slide_up {
  0% {
    transform: translateX(-1500px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}
