.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 500px;
  width: 1200px;
  border-radius: 10px;
  z-index: 3;
  background-color: #0d1117;
  overflow: scroll;
}
/*                  Seprate modal positioning for time                    */
.time-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 1200px;
  border-radius: 10px;
  z-index: 3;
  background-color: #0d1117;
  overflow: scroll;
  animation: popin 1s;
}
/*                                                                        */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 135vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  backdrop-filter: blur(10px);
}
.hidden {
  display: none;
}

.close-modal-btn {
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 4;
  justify-content: center;
  align-items: center;
}
button.close-modal {
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}
.conversion-modal-title {
  position: absolute;
  top: 10%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
h1.bmi-h1 {
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
}
/*Result paragraph*/
.results-modal {
  position: absolute;
  top: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px 50px;
}
p.resultsP {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  line-height: 25px;
}
.input-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
}
#bmiresult {
  margin-top: 50px;
  color: white;
  align-self: center;
  font-size: 60px;
}
p.p-results {
  color: white;
  letter-spacing: 5px;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px;
}
h1.h1-results {
  margin-top: 20px;
  color: white;
  align-self: center;
  font-size: 40px;
  letter-spacing: 4px;
  animation: slide_up 1s ease;
}
p.p2-results {
  color: white;
  letter-spacing: 3px;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px;
}
#bmiresult {
  height: 40px;
  border-radius: 20px;
  width: 50%;
  align-self: center;
  text-align: center;
  margin: 10px 10px;
}
.bmi-chart-img {
  margin: 20px 0;
  height: 400px;
  width: 50%;
  align-self: center;
}

@media screen and (max-width: 1160px) {
  .modal {
    width: 90%;
  }
}

/*                  Animations                    */
@keyframes slide_left {
  0% {
    transform: translateX(-1500px);
  }
  100% {
    transform: translateX(0);
  }
}
