.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 500px;
  width: 980px;
  border-radius: 10px;
  z-index: 1;
  background-color: #0d1117;
}
.hidden-modal {
  display: none;
}
.close-modal-btn {
  position: absolute;
  left: 95%;
  top: -10%;
}
button.close-modal {
  border-radius: 50px;
  padding: 10px 15px;
  font-size: 25px;
  cursor: pointer;
  outline: none;
}
.conversion-modal-title {
  position: absolute;
  top: 10%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
h1.bmi-h1 {
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
}
/*Result paragraph*/
.results-modal {
  position: absolute;
  top: 30%;
  width: 100%;
  display: flex;

  justify-content: center;
  padding: 20px 50px;
}
p.resultsP {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  line-height: 25px;
}
.input-results {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
}
p.p-results {
  color: white;
  letter-spacing: 5px;
  font-size: 20px;
  text-align: center;
}
#bmiresult {
  height: 40px;
  border-radius: 20px;
  text-align: center;
}
