* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 66.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  display: flex;
}
.page {
  display: flex;
  position: absolute;
  top: 5%;
  height: 95vh;
  width: 980px;
  margin: 0px auto;
}

/*                   Top headers                      */
.cform {
  top: 50px;
  clear: both;
  flex-shrink: 1;
  margin-top: 20px;
  width: 100%;
  align-items: center;
}
.cformr {
  width: 900px;
  margin: 40px 0;
}

img {
  right: 105%;
  height: 200px;
  float: left;
}

.cform h1 {
  font-size: 50px;
  letter-spacing: 5px;
  top: 50px;
}

#convert_form {
  top: 12rem;
  margin-top: 20px;
}

input {
  outline: none;
}

#cnumber,
#cfrom,
#cto {
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
  border-radius: 60px;
  outline: none;
}
#cnumber {
  text-align: center;
  letter-spacing: 3px;
}

.convertbtn {
  letter-spacing: 3px;
  width: 100px;
  height: 30px;
  border-radius: 60px;
  outline: none;
}
.convertbtn:hover {
  color: rgb(0, 0, 0);
}

.results {
  width: 100%;
  margin-top: 10px;
  margin-right: 20px;
  letter-spacing: 4px;
  font-size: 25px;
  padding: 0px, 0px;
  color: black;
}
.hidden {
  display: none;
}

.secondPage {
  height: 100vh;
}

/*                 responsive css                     */
@media screen and (max-width: 980px) {
  .page .cform {
    width: 95%;
  }
  .cform h1 {
    color: red;
  }
}
/*              --------------------                  */ ;
