* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 66.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.landingpagebody {
  /* Gradient */
  background: linear-gradient(
    271deg,
    #0dffc1,
    #67ffd8,
    #81a199,
    #719f94,
    #8e8e8e,
    #6c6c6c,
    #292929,
    #000000,
    #000000,
    #6c6c6c,
    #7d7d7d,
    #878787,
    #849d98,
    #6c9f94,
    #69b5a5,
    #39bfa1,
    #2bcea9,
    #1fdbb0,
    #0eecb9,
    #00f9c0
  );
  background-size: 4000% 4000%;

  -webkit-animation: AnimationName 29s ease infinite;
  -moz-animation: AnimationName 29s ease infinite;
  animation: AnimationName 29s ease infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 51%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 51%;
  }
}

/*              --------------------                  */

.welcomePage {
  position: absolute;
  top: 15%;
  width: 980px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  height: 80vh;
  margin-bottom: 20%;
  box-shadow: 10px 50px 100px;
}

/* Flex container */
.welcome {
  text-align: center;
  padding-top: 100px;
  display: block;
  width: 100%;
}

.welcome h1 {
  font-size: 50px;
  flex-shrink: 3;
}

.welcome p {
  font-size: 2rem;
  letter-spacing: 5px;
}

/*                  Property Buttons                  */
#categories {
  margin: 30px 0 60px 0;
  padding: 0;
}

ul {
  display: block;
}

#categories li {
  top: 10%;
  list-style: none;
  width: 196px;
  float: left;
  text-align: center;
  padding: 14px 0 20px 0;
  line-height: 10px;
}

#categories li a {
  display: block;
  color: #444;
}

#categories li img {
  height: 100px;
  padding-bottom: 5px;
}

a {
  color: rgb(36, 93, 193);
  text-decoration: none;
  font-size: 15px;
}

li:hover {
  background-color: #03dba9;
}

li {
  display: list-item;
}

/*          Scroll bar          */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: rgb(82, 78, 78);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}

/*              --------------------                  */

@media screen and (max-width: 980px) {
  #categories li {
    width: calc(100% / 4);
  }
  .header,
  .welcomePage {
    width: 95%;
  }
  .header {
    align-items: center;
    justify-content: center;
  }
  .welcomePage {
    height: 150%;
  }
  .welcome h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 700px) {
  #categories li {
    width: calc(100% / 3);
  }
  .header,
  .welcomePage {
    width: 80%;
  }
  .header {
    margin-left: 0;
  }
  .welcome h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 500px) {
  #categories li {
    width: calc(100% / 2);
  }
  .header {
    width: 100%;
  }
  .welcomePage {
    width: 90%;
  }
  .header {
    margin: 0px 0px 0px 0px;
    justify-content: center;
  }
  .welcome h1 {
    font-size: 40px;
  }
}
