* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 66.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.5;
  position: relative;
}

/*        Responsive conversion table      */
.page {
  position: absolute;
  height: 90vh;
  top: 7%;
}

.cform {
  display: flex;
  width: 100%;
  height: 250px;
  align-items: center;
  justify-content: center;
}

img {
  height: 150px;
}

.h1Message {
  font-size: 50px;
}

/*      Form placement      */
.cformr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fromspan,
.to {
  align-self: center;
  font-size: 2rem;
  margin: 0 5px;
}

#cnumber,
#cfrom,
#cto,
.convertbtn {
  height: 30px;
  width: 180px;
  outline: none;
  margin: 0 5px;
  border-radius: 60px;
  text-align: center;
  letter-spacing: 3px;
}
.convertbtn {
  letter-spacing: 10px;
}

/*      Results    */
.results {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  letter-spacing: 5px;
}
.hidden {
  display: none;
}

/*      PAGE 2      */
.page2 {
  background-color: grey;
  height: 15vh;
  position: absolute;
  width: 100%;
  top: 80%;
}

/* Media Queries */
@media screen and (max-width: 730px) {
  .page {
    top: 10%;
    height: 100%;
  }
  .page2 {
    top: 90%;
  }
  .cform {
    flex-direction: column;
  }

  .cformr {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .fromspan,
  .to {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 10px;
    color: grey;
    margin: 10px;
  }

  #cnumber,
  #cfrom,
  #cto,
  .convertbtn {
    font-size: 20px;
    width: 90%;
    border-radius: 0px;
    height: 50px;
    margin: 10px;
  }
}

.results {
  flex-direction: column;
  justify-content: center;
}
